@import "./src/@fury/styles/var";
@import "./src/app/app.theme";
@import "./src/@fury/styles/themes/var-helpers";

.preview {
  width: 420px;
}

.stock {
  .value {
    font: var(--font-headline);
    font-weight: 400;
  }

  .pc-label {
    line-height: 35px;
  }
}

.gain {
  &.success {
    color: $color-success;
  }

  &.warn {
    color: $theme-color-warn;
  }
}

.as-of-info {
  display: inline-block;
  margin-top: 14px;
  background: #fff;
  padding: 0 5px;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.text-light {
  color: #908f8f;
  font-size: 0.9em;
}

.text-right {
  text-align: right;
}

::ng-deep .threshold-fields .mat-form-field-infix {
  width: 100px !important;
}

.action-icon {
  cursor: pointer;
}

.rm-icon {
  line-height: 70px;
}
