<fury-page [fxLayoutGap]="gap" class="dashboard" fxLayout="column">

    <div class="fury-preview-card" fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-sm="row">

        <div class="preview">
            <form [formGroup]="subscriptionForm">
                <div class="title">Live Stock Quote</div>
                <div class="preview-content" fxLayout="row">
                    <mat-form-field fxFlex>
                        <mat-label>Select a Stock</mat-label>
                        <input matInput [matAutocomplete]="auto" formControlName="symbol">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onStockSelect()">
                            <mat-option *ngFor="let state of filteredStates | async" [value]="state.symbol">
<!--                                (blur)="onStockSelect()"-->
                                <span>{{ state.symbol }}</span> |
                                <small>{{ state.description }}</small>
                            </mat-option>
                        </mat-autocomplete>
                        <button *ngIf="stockCtrl.value" type="button" mat-icon-button (click)="stockCtrl.reset()"
                                matSuffix>
                            <mat-icon>close</mat-icon>
                        </button>
                        <button *ngIf="!stockCtrl.value" type="button" mat-icon-button matSuffix>
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                        <mat-hint>Search stock to get live value. Ex. AAPL, GOOGL</mat-hint>
                    </mat-form-field>
                </div>
                <br/>
                <div class="stock" fxLayout="column" *ngIf="quote && stockCtrl.value">
                    <!--*ngIf="quote && stockCtrl.value"-->
                    <div>
                        <div class="pc-label" fxFlex="grow"><span class="text-light">Current Price:</span></div>
                        <div class="value" fxFlex="grow">{{ quote.c }}</div>
                        <div [class.success]="quote.priceVariation >= 0" [class.warn]="quote.priceVariation < 0"
                             class="gain" fxFlex="grow">
                            <mat-icon *ngIf="quote.priceVariation >= 0" class="icon">trending_up</mat-icon>
                            <mat-icon *ngIf="quote.priceVariation < 0" class="icon">trending_down</mat-icon>
                            {{ quote.priceVariation }}%
                        </div>
                    </div>
                    <div>
                        <div fxFlex="grow"><span class="text-light">Open:</span> {{ quote.o }}</div>
                        <div fxFlex="grow"><span class="text-light">High:</span> {{ quote.h }}</div>
                        <div fxFlex="grow"><span class="text-light">Low:</span> {{ quote.l }}</div>
                    </div>
                    <div>
                        <span class="text-light as-of-info">As of {{quote.t * 1000 | date: 'dd/MM/yyyy HH:mm'}}</span>
                    </div>

                    <br/>
                    <div class="text-right">
                        <button mat-button color="accent" (click)="addRule()">Add Rule</button>
                    </div>

                    <div class="threshold-fields" formArrayName="rules"
                         *ngFor="let arrayItem of arrayItems; let i=index">
                        <div fxLayout="column" [formGroupName]="i" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                            <mat-form-field appearance="standard">
                                <mat-label>Type</mat-label>
                                <mat-select formControlName="type">
                                    <mat-option value="Price">Price</mat-option>
                                    <mat-option value="Percentage">Percentage</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="standard">
                                <mat-label>Operator</mat-label>
                                <mat-select formControlName="operator">
                                    <mat-option value=">">&gt;</mat-option>
                                    <mat-option value="<">&lt;</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="standard" color="primary" fxFlex.gt-sm>
                                <input matInput placeholder="Number" type="number" formControlName="number">
                            </mat-form-field>
                            <mat-icon matTooltip="Remove Rule" (click)="removeRule(i)"
                                      class="rm-icon action-icon material-icons-outlined">
                                cancel
                            </mat-icon>
                        </div>
                    </div>
                    <br/>
                    <div fxLayout="column" fxLayoutGap="8px">
                        <button mat-raised-button color="primary" (click)="onSubscribeClick()">Subscribe</button>
                    </div>

                </div>
            </form>
        </div>

        <div class="content" fxFlex>
            <fury-subscribed-quote [rowData]="messageService.quotes"></fury-subscribed-quote>
        </div>
    </div>
</fury-page>

