.label.label-info {
  background: rgb(205 205 205 / 54%);
  padding: 2px 9px;
  border-radius: 2px;
  font-weight: bold;
}

.text-right {
  text-align: right;
  div {
    text-align: right;
  }
}

::ng-deep .text-right .mat-sort-header-container {
  justify-content: flex-end !important;
}


.success {
  color: green;
}

.warn {
  color: red;
}

.pv-icons mat-icon {
  position: absolute;
  margin-left: 6px;
  font-size: 1.4em;
}
