<fury-list name="Subscribed" [columns]="columns" (filterChange)="onFilterChange($event)">
    <table [dataSource]="dataSource" mat-table matSort>


        <ng-container matColumnDef="symbol">
            <th *matHeaderCellDef class="image-cell" mat-header-cell>Stock</th>
            <td *matCellDef="let row" class="image-cell" mat-cell>
                <span class="label label-info"> {{ row.symbol }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="priceVariation">
            <th *matHeaderCellDef mat-header-cell mat-sort-header class="text-right">Variation</th>
            <td *matCellDef="let row" mat-cell class="text-right">
                <span [class.success]="row.priceVariation >= 0" [class.warn]="row.priceVariation < 0" class="gain">
                    {{ row.priceVariation }}%
                    <span class="pv-icons">
                        <mat-icon *ngIf="row.priceVariation >= 0" class="icon">arrow_upward</mat-icon>
                        <mat-icon *ngIf="row.priceVariation < 0" class="icon">arrow_downward</mat-icon>
                    </span>
                </span>
            </td>
        </ng-container>

        <ng-container *ngFor="let column of columns">
            <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
                <th *matHeaderCellDef mat-header-cell mat-sort-header class="text-right"> {{ column.name }}</th>
                <td *matCellDef="let row" mat-cell class="text-right">
                    {{ row[column.property] }}
                </td>
            </ng-container>
        </ng-container>


        <ng-container matColumnDef="t">
            <th *matHeaderCellDef class="image-cell" mat-header-cell>As Of</th>
            <td *matCellDef="let row" class="image-cell" mat-cell>
                {{ row.t * 1000 | date:'dd/MM/yyyy HH:mm' }}
            </td>
        </ng-container>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header></th>
            <td *matCellDef="let row" class="actions-cell" mat-cell>
                <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu"
                        (click)="$event.stopPropagation()">
                    <mat-icon>more_horiz</mat-icon>
                </button>

                <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
                    <button disabled (click)="unsubscribeStock(row)" mat-menu-item>
                        <span>Modify</span>
                    </button>
                    <button (click)="unsubscribeStock(row)" mat-menu-item>
                        <span>Unsubscribe</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: visibleColumns;"
            class="clickable route-animations-elements"
            mat-row></tr>
    </table>

    <mat-paginator class="paginator" [pageSize]="pageSize"></mat-paginator>

</fury-list>
