@import "var";

:host {
  display: flex;
  flex-direction: column;
  z-index: $sidenav-z-index;
  height: 100%;
  top: 0;
  bottom: 0;
  width: $sidenav-width;
}

.sidenav {
  height: 100%;
  will-change: width;
}

.sidenav-toolbar {
  padding: 0 $spacing/1.333 0 $spacing;
  height: $sidenav-toolbar-height;
  min-height: $sidenav-toolbar-height;
  max-height: $sidenav-toolbar-height;
  overflow: hidden;

  .sidenav-toolbar-icon {
    vertical-align: text-top;

    svg {
      width: 26px;
    }
  }

  .sidenav-toolbar-logo {
    cursor: pointer;
    outline: none;
    margin-left: $sidenav-item-padding-left;
    margin-bottom: -5px;

    svg {
      height: 30px;
      width: 60px;
    }
  }
}

.sidenav-toolbar-collapse-toggle {
  transition: transform .25s;

  .sidenav-toolbar-collapse-icon {
    width: 12px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
  }

  &.rotate {
    transform: rotate(-180deg);
  }
}

.sidenav-toolbar-logo, .sidenav-toolbar-collapse-toggle {
  will-change: opacity;
  img {
    width: 115px;
    padding: 10px;
    background: white;
  }
}

.sidenav-user {
  text-align: center;
  margin-bottom: $padding-sm;

  .sidenav-user-image {
    display: block;
    height: 72px;
    width: 72px;
    border-radius: 50%;
  }

  .sidenav-user-email {
    margin-top: 0;
  }

  .sidenav-user-icons {

    [mat-icon-button] {
      width: 32px;
      height: 32px;
      line-height: 32px;

      & + [mat-icon-button] {
        margin-left: $padding-xxs;
      }
    }

    mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
      line-height: 18px;
    }
  }
}

.sidenav-items {
  min-height: 0;
}
